<footer>
    <div class="foo_div">
        <img src="https://effitizer.s3.ap-northeast-2.amazonaws.com/image/backgroud.png" width="400px">
    </div>
    <div class="foo_div1" style=" background-color:#6AA67A; padding:20px; width: 360px; font-size: 15px; color: white;">
        <span>(주)한줄날씨</span> <span>  |  </span>
        <span>대표 : 이채영</span> <span>  |  </span>
        <span>사업자등록번호 : 136-56-00572</span> <span>  |  </span>
        <p>주소 : 경기도 의정부시 평화로202번길 15, 101동 306호(호원동, 월드한아름아파트)</p>
    </div>
</footer>
